In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("subscription_renewal_data.csv")

In [4]:
df.head()

,customer_id,subscription_plan,tenure_months,monthly_fee,renewal_status,usage_hours,support_tickets
0,C001,Basic,3,199,No,12,2
1,C002,Premium,12,499,Yes,120,0
2,C003,Standard,6,299,Yes,60,1
3,C004,Basic,1,199,No,5,3
4,C005,Premium,24,499,Yes,200,0

In [5]:
df.tail()

,customer_id,subscription_plan,tenure_months,monthly_fee,renewal_status,usage_hours,support_tickets
10,C011,Premium,6,499,Yes,75,0
11,C012,Standard,18,299,Yes,140,1
12,C013,Basic,5,199,No,25,2
13,C014,Premium,30,499,Yes,250,0
14,C015,Standard,7,299,Yes,65,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        15 non-null     object
 1   subscription_plan  15 non-null     object
 2   tenure_months      15 non-null     int64
 3   monthly_fee        15 non-null     int64
 4   renewal_status     15 non-null     object
 5   usage_hours        15 non-null     int64
 6   support_tickets    15 non-null     int64
dtypes: int64(4), object(3)
memory usage: 972.0+ bytes

In [ ]:
df.describe()